<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                       <!-- <h4 class="title">User List  <a class="pull-right" [routerLink]="['/user']">Back</a></h4>-->
                       <h4 class="title">Users List</h4>
                        
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    
                                    <td><a routerLink="/users/{{user._id}}" routerLinkActive="active"
                                       (click)="onSelect(user)">{{user.username}}</a></td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>{{user.address}}</td>
                                </tr>     
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-danger pull-right" (click)="addUser()">Add User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    